body {
background-color: #b7d7e8;
}
h3 {
  position: relative;
  top: 40px;
  left: 30px;
  font-size: 30px;
}

.total {
  font-size: medium;
  text-align: center;
}

.topping {
  text-align: center;
}

.cones {
  list-style: none;
  position: relative;
  text-align: center;
  /* font-size: large; */
}

.col-8 {
  overflow: hidden;
}

/*---one below, two col---*/